<div class='control-group nested-fields'>
  <div class="controls">
    <% if f.object.acto.nil?
            f.object.acto = Acto.new
       end 
    %>
    <%= f.simple_fields_for f.object.acto do |acto| %>
      <%= render 'actoin_fields', :f => acto %>
    <% end %>

    <%= f.input :fecha, 
      :input_html => { "data-behaviour" => "datepicker" },
      :as => :string, :label => "Fecha" 
    %>

    <%= f.association :desplazamiento,
      collection: ([] + Desplazamiento.where(:id_caso => @caso.id)),
      #selected: :fechaexpulsion,
      label: "Causó desplazamiento",
      label_method: :fechaexpulsion,
      value_method: :fechaexpulsion 
    %>

    <%= link_to_remove_association "Eliminar Causa/Antecedente", f, :class => 'btn-danger' %> 
  </div>
</div>
