<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.input :id, as: :hidden %>
    <%= f.input :fechaexpulsion, 
      as: :string, 
      label: "Fecha de Expulsión",
      inline_label: "Consentimiento Informado compartir BD CINEP",
      input_html: { 
        "data-behaviour" => "datepicker",
        "data-toggle" => 'tooltip',
        "title" => 'Sólo un desplazamiento debe tener la fecha de desplazamiento emblemático de la pestaña datos básicos'
      }
    %>
    <%= f.association :expulsion,
        collection: Msip::Ubicacion.where(caso_id: @caso.id),
        label: "Sitio de Expulsión",
        label_method: lambda {|t| formato_ubicacion(t) },
#          (t.departamento_id.nil? ? "" : " / " + 
#             Msip::Departamento.where(id: t.departamento_id).take.nombre) + 
#          (t.municipio_id.nil? ? "" : " / " + 
#           Msip::Municipio.where(id: t.municipio_id).take.nombre) + 
#          (t.clase_id.nil? ? "" : " / " + 
#           Msip::Clase.where(id: t.clase_id).take.nombre)
#    },
        value_method: :id,
        input_html: {
          "data-toggle" => 'tooltip',
          "title" => 'Elegir uno de los puntos registrados en la pestaña Ubicación'
        }
    %>
    <%= f.input :fechallegada, 
      as: :string, 
      label: "Fecha de Llegada",
      input_html: { 
        "data-behaviour" => "datepicker",
        "data-toggle" => 'tooltip',
        "title" => 'Registrar la fecha de llegada'
      }
  	%>
    <%= f.association :llegada,
        collection: Msip::Ubicacion.where(caso_id: @caso.id),
	      label: "Sitio de Llegada",
        label_method: lambda {|t| formato_ubicacion(t) },
        #label_method: lambda {|t| Msip::Pais.find(t.pais_id).nombre + 
        #  (t.departamento_id.nil? ? "" : " / " + 
        #     Msip::Departamento.where(id: t.departamento_id,
        #       pais_id: t.pais_id).take.nombre) },
        #label_method: lambda {|t| Pais.find(t.pais_id).nombre},
        #label_method: :departamento_id,
	      value_method: :id,
        input_html: {
          "data-toggle" => 'tooltip',
          "title" => 'Elegir uno de los puntos registrados en la pestaña Ubicación'
        }
	  %>
    <%= f.input :descripcion, 
      label: 'Descripción',
      input_html: {
        "data-toggle" => 'tooltip',
        "title" => 'Descripción del desplazamiento (Utilice mayúsculas y minúsculas)'
      }
    %>

    <%= render 'desplazamiento_campos2', f: f %>

    <%= link_to_remove_association "Eliminar Desplazamiento", f, 
      {class: 'btn btn-sm btn-danger', :'data-existing' => 'true'} 
    %>
  </div>
</div>
