<%- if current_usuario.nil?  %>
  <li><a data-bs-target="usuarios/sign_in">Iniciar Sesión</button>
<%- else  %>
  <article>
  <script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script>
  <%= simple_form_for @caso, :html => { :class => 'form-horizontal' } do |f| %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>
      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <div class="accordion" id="acordeon-formv">

        <%= f.simple_fields_for :casosjr do |s| %>
          <%= item_acordeon_bs(
            'acordeon-formv', 'basicos', 'Datos Básicos', true) do %>
            <%= render 'basicos', f: f, s: s %>
          <% end %>

          <%= item_acordeon_bs(
            'acordeon-formv', 'contacto', 'Solicitante Principal') do %>
            <%= render 'contacto', f: f, s: s %>
          <% end %>

          <%= item_acordeon_bs(
            'acordeon-formv', 'victimas', 'Núcleo Familiar') do %>
            <%= render 'victimas', f: f, s: s %>
          <% end %>

          <%= item_acordeon_bs(
            'acordeon-formv', 'ubicaciones', 
            'Sitios geográficos de refugio y desplazamiento') do %>
            <%= render 'victimas', f: f, s: s %>
          <% end %>

          <%= item_acordeon_bs(
            'acordeon-formv', 'refugio', 
            'Refugio') do %>
            <%= render 'refugio', f: f, s: s %>
          <% end %>

        <% end %> <!-- simple_fields_for :casosjr -->

        <%= item_acordeon_bs(
          'acordeon-vic', 'desplazamientos', 'Desplazamientos') do %>
          <%= render 'desplazamientos', f: f %>
        <% end %>
  
        <%= item_acordeon_bs(
          'acordeon-vic', 'presponsables', 'Agentes de Persecución') do %>
          <%= render 'sivel2_gen/casos/presponsables', f: f %>
        <% end %>

        <%= item_acordeon_bs(
          'acordeon-vic', 'antecedentes', 'Causas/Antecedentes') do %>
          <%= render 'sivel2_gen/casos/presponsables', f: f %>
        <% end %>

        <%= item_acordeon_bs(
          'acordeon-vic', 'respuestas', 'Sesiones de Atención') do %>
          <%= render 'respuestas', f: f %>
        <% end %>

        <%= item_acordeon_bs(
          'acordeon-vic', 'anexos', 'Anexos') do %>
          <%= render 'sivel2_gen/casos/anexos', f: f %>
        <% end %>

        <%= item_acordeon_bs(
          'acordeon-vic', 'etiquetas', 'Etiquetas') do %>
          <%= render 'sivel2_gen/casos/etiquetas', f: f %>
        <% end %>


      </div> <!-- accordion -->
    </div> <!-- form-inputs -->

    <div class="form-actions">
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        casos_path, :class => 'btn'
      %>
    </div> <!-- form-action -->

  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end -%> <!-- else -->

