<div class='control-group nested-fields'>
  <div class="controls">
    <% if f.object.persona.nil?
        f.object.persona = Sip::Persona.new(nombres: '')
        f.object.victimasjr = Sivel2Sjr::Victimasjr.new
       end %>
       
    <%= f.simple_fields_for :persona do |p| %>
      <%= render 'sip/personas/persona_fields', f: p, fvictima: f %>
    <% end %>

    <%= f.simple_fields_for :victimasjr do |victimasjr| %>
      <% (1..7).each do |i| %>
        <%= render 'victima_campos' + i.to_s, 
          victima: f, 
          victimasjr: victimasjr
        %>
    <% end %>

      <%= victimasjr.input :fechadesagregacion, 
        input_html: { "data-behaviour" => "datepicker" },
        as: :string, 
        label: "Fecha de Desagregación" 
      %>
    <% end %> <!-- simple_fields_for :victimasjr -->

    <%= link_to_remove_association "Eliminar Víctima", f, 
      {class: 'btn-danger', :'data-existing' => 'true'} %> 
  </div>
</div>
