<div class='control-group nested-fields'>
  <div class="controls">
    <% if f.object.persona.nil?
        f.object.persona = Sip::Persona.new(nombres: '')
        f.object.victimasjr = Sivel2Sjr::Victimasjr.new
       end %>
       
    <%= f.simple_fields_for :persona do |p| %>
      <%= render 'sip/personas/persona_fields', :f => p %>
    <% end %>

    <%= f.simple_fields_for :victimasjr do |victimasjr| %>
      <%= render 'victima_campos2', victima: f, victimasjr: victimasjr %>
      <%= victimasjr.input :fechadesagregacion, 
        :input_html => { "data-behaviour" => "datepicker" },
        :as => :string, :label => "Fecha de Desagregación" 
      %>
    <% end %>

    <%= link_to_remove_association "Eliminar Víctima", f, 
      {:class => 'btn-danger', :'data-existing' => 'true'} %> 
  </div>
</div>
